/*********************************************************************************************
*                                CNRS Data Manager Agents CSS                                *
*********************************************************************************************/

/* No Agent available style */
.cnrs-dm-front-no-result {
    width: 100%;
    text-align: center;
    font-style: italic;
}

/* Button styles */
.cnrs-dm-front-btn {
    color: #ffffff!important;
    border-width: 14px!important;
    border-color: rgba(255,255,255,0);
    border-radius: 0;
    letter-spacing: 1px;
    font-size: 14px;
    font-family: 'Josefin Sans',Helvetica,Arial,Lucida,sans-serif!important;
    font-weight: 700!important;
    text-transform: uppercase!important;
    background-color: #6ab7e6;
    display: inline-block;
    box-shadow: 0 12px 30px -6px rgba(0,0,0,0.16);
    position: relative;
    line-height: 1.7em!important;
    padding: .3em 1em 0;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    border-style: solid;
    -webkit-transition-property: all!important;
    transition-property: all!important;
    text-align: right;
    transition: all 300ms ease 0ms;
}

.cnrs-dm-front-btn::after {
    line-height: 1em;
    content: "\35";
    opacity: 0;
    position: absolute;
    margin-left: -1em;
    -webkit-transition: all .2s;
    transition: all .2s;
    text-transform: none;
    -webkit-font-feature-settings: "kern" off;
    font-feature-settings: "kern" off;
    font-variant: none;
    font-style: normal;
    font-weight: 400;
    text-shadow: none;
    font-family: ETmodules, serif !important;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    direction: ltr;
    font-size: 1.6em;
    top: 0.1em;
}

.cnrs-dm-front-btn:hover {
    border-radius: 0!important;
    letter-spacing: 1px!important;
    border: 2px solid transparent;
    position: relative;
    z-index: 2;
    padding: .3em 2em 0 .7em;
}

.cnrs-dm-front-btn:hover::after {
    -webkit-transition: none!important;
    transition: none!important;
    opacity: 1;
    margin-left: 0;
}

/* Display selector */
.cnrs-dm-front-selector-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.cnrs-dm-front-selector-title {
    color: #333;
    line-height: 1em;
    font-weight: 500;
    margin-right: 10px;
    font-family: 'Josefin Sans',Helvetica,Arial,Lucida,sans-serif;
    font-size: 17px;
    padding-top: 3px;
}

.cnrs-dm-front-selector {
    border: none;
    background: transparent;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.15);
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 4px;
    margin-right: 8px;
    padding: 0;
    transform-origin: 50% 50%;
    transform: scale(1);
    transition: transform linear 0.15s;
}

.cnrs-dm-front-selector:hover {
    transform: scale(1.1);
}

.cnrs-dm-front-selector svg {
    width: 24px;
    height: 24px;
}

.cnrs-dm-front-selector svg path {
    fill: #c1c1c1;
}

.cnrs-dm-front-selector.selected svg path {
    fill: #6ab7e6;
}

.cnrs-dm-front-entity-title-container {
    padding: 10px 20px;
    background-color: #6ab7e6;
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.cnrs-dm-front-agent-info-data-container:not(.mobile-version) {
    overflow-y: scroll;
}

.cnrs-dm-front-agent-info-data-container.mobile-version {
    overflow-y: auto;
}

.cnrs-dm-front-entity-title-container > p {
    color: #fff;
    font-family: 'Josefin Sans',Helvetica,Arial,Lucida,sans-serif!important;
    font-weight: bold;
    text-align: center;
    width: max-content;
    font-size: 18px;
}

.cnrs-dm-front-entity-title-container:not(:first-of-type) {
    margin-top: 60px;
}

.cnrs-dm-front-agent-container:not(.selected) {
    display: none;
}

.cnrs-dm-front-agents-container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
}

.cnrs-dm-front-inline {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.cnrs-dm-front-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: relative;
    height: 100%;
}

.cnrs-dm-front-agent-wrapper-list:not(:first-child) {
    margin-top: 15px;
}

.cnrs-dm-front-agent-wrapper {
    cursor: pointer;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.1);
    padding: 10px 15px;
    transform-origin: 50% 50%;
    transform: scale(1);
    background-color: #fff;
    transition: transform linear 0.15s, box-shadow linear 0.25s;
}

.cnrs-dm-front-agent-wrapper-list {
    width: 100%;
}

.cnrs-dm-front-agent-wrapper:hover {
    transform: scale(1.01);
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.08);
}

.cnrs-dm-front-agent-wrapper.stop-motion {
    transform: unset;
    transition: unset;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.08);
}

.cnrs-dm-front-agent-container p {
    color: #333;
    font-weight: bold;
    margin-right: 5px;
}

.cnrs-dm-front-inline > div {
    width: 34px;
    height: 34px;
    display: flex;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 10px;
    border-radius: 200px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.cnrs-dm-front-card > div {
    display: flex;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10px;
    border-radius: 2000px;
    border: 6px solid #fff;
    position: absolute;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}

.cnrs-dm-front-agent-info-wrapper {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    cursor: default;
    align-items: center;
    transition: opacity ease-out 0.5s, visibility ease-out 0.5s;
    background-color: rgba(255, 255, 255, 0.5);
}

.cnrs-dm-front-agent-info-wrapper.show {
    opacity: 1;
    visibility: visible;
}

.cnrs-dm-front-agent-info-wrapper.show .cnrs-dm-front-agent-info {
    transform: scale(1);
}

.cnrs-dm-front-agent-wrapper-grid {
    margin-bottom: 20px!important;
    margin-top: 48px;
}

.cnrs-dm-front-card > div {
    width: 100px;
    height: 100px;
    top: -50px;
}

.cnrs-dm-front-card > span > p {
    margin-top: 58px;
}

.cnrs-dm-front-card > span > small {
    color: #6ab7e6;
    font-weight: bold;
}

.cnrs-dm-front-card > small {
    font-weight: bold;
    font-size: 12px;
}

.cnrs-dm-front-card > span {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.cnrs-dm-info-avatar {
    width: 150px;
    height: 150px;
    display: flex;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 2000px;
    box-shadow: 6px 6px 24px rgba(0, 0, 0, 0.35);
}

.cnrs-dm-front-agent-info-data-container h3 {
    padding: 0;
}

.cnrs-dm-front-agent-info-data-container a {
    font-size: 12px;
    line-height: 1.2em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-style: italic;
}

.cnrs-dm-front-agent-info-data-container a svg {
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.cnrs-dm-front-agent-info-data-container a svg path {
    fill: #69C0B5;
}

.cnrs-dm-front-agent-info-data > h5 {
    margin-top: 20px;
    padding: 0;
    margin-bottom: 3px;
}

.cnrs-dm-front-agent-info-data > p {
    padding: 0;
    color: #69C0B5;
    font-weight: bold;
    font-style: italic;
    font-size: 14px;
    line-height: 1.2em;
}

.cnrs-dm-front-agent-info-data ul {
    margin-bottom: 10px;
}

.cnrs-dm-front-agent-info-data li {
    padding-left: 5px;
}

.cnrs-dm-front-agent-info-data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.cnrs-dm-front-agent-info-data span {
    font-size: 13px;
    line-height: 1.2em;
}

@media only screen and (min-width: 796px) {

    .cnrs-dm-close-info-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 26px;
        height: 26px;
        border-radius: 200px;
        cursor: pointer;
        border: 2px solid #6ab7e6;
        position: absolute;
        top: 30px;
        right: 30px;
        z-index: 5;
    }

    .cnrs-dm-close-info-container svg {
        width: 16px;
        height: 16px;
    }

    .cnrs-dm-close-info-container svg path {
        fill: #6ab7e6;
    }

    .cnrs-dm-front-agent-info {
        width: 700px;
        max-width: calc(100% - 80px);
        max-height: 80vh;
        padding: 20px;
        transform-origin: 50% 50%;
        transform: scale(0.95);
        transition: transform ease-out 0.2s;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cnrs-dm-front-agent-info-left {
        width: 40%;
        min-height: 100%;
        background-color: #6ab7e6;
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cnrs-dm-front-agent-info-right {
        width: 100%;
        background-color: #fff;
        height: 100%;
        box-shadow: 10px 10px 16px rgba(0, 0, 0, 0.1);
    }

    .cnrs-dm-info-avatar {
        margin-left: 30px;
    }

    .cnrs-dm-divider-mobile {
        display: none;
    }

    .cnrs-dm-front-agent-info-left-shadow {
        position: absolute;
        z-index: 1;
        box-shadow: 10px 10px 16px rgba(0, 0, 0, 0.1);
        top: calc(100% - 20px);
        width: 40%;
        height: 20px;
        left: 0;
    }

    .cnrs-dm-front-agent-info-left-divider {
        position: absolute;
        z-index: 3;
        top: 0;
        left: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .cnrs-dm-front-agent-info-left-divider svg {
        height: 100%;
    }

    .cnrs-dm-front-agent-info-data-container {
        width: calc(60% - 53px);
        padding: 40px 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-left: calc(40% + 53px);
        height: 100%;
        max-height: 480px;
    }
}

@media only screen and (max-width: 795px) {

    .cnrs-dm-close-info-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 26px;
        height: 26px;
        border-radius: 200px;
        cursor: pointer;
        border: 2px solid #fff;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 5;
    }

    .cnrs-dm-close-info-container svg {
        width: 16px;
        height: 16px;
    }

    .cnrs-dm-close-info-container svg path {
        fill: #fff;
    }

    .cnrs-dm-front-agent-info-right {
        padding: 10px 0 20px 0;
        width: 100%;
        margin-top: 313px;
        height: calc(100% - 263px);
    }

    .cnrs-dm-front-agent-info-data-container {
        height: 100%;
    }

    .cnrs-dm-front-agent-info {
        width: 90%;
        height: 85vh;
        background-color: #fff;
        padding: 20px;
        transform-origin: 50% 50%;
        transform: scale(0.95);
        transition: transform ease-out 0.2s;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 10px 10px 16px rgba(0, 0, 0, 0.1);
    }

    .cnrs-dm-front-agent-info-left {
        background-color: #6ab7e6;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 260px;
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
    }

    .cnrs-dm-divider-desktop {
        display: none;
    }

    .cnrs-dm-front-agent-info-left-shadow {
        display: none;
    }

    .cnrs-dm-front-agent-info-left-divider {
        position: absolute;
        z-index: 3;
        top: 100%;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .cnrs-dm-front-agent-info-left-divider svg {
        width: 100%;
    }
}

@media only screen and (min-width: 1101px) {

    .cnrs-dm-front-agent-wrapper-grid {
        width: calc(25% - 15px);
    }

    .cnrs-dm-front-agent-wrapper-grid:nth-child(4n+1) {
        margin-right: 10px;
    }

    .cnrs-dm-front-agent-wrapper-grid:nth-child(4n+2),
    .cnrs-dm-front-agent-wrapper-grid:nth-child(4n+3) {
        margin-left: 10px;
        margin-right: 10px;
    }

    .cnrs-dm-front-agent-wrapper-grid:nth-child(4n+4) {
        margin-left: 10px;
    }
}

@media only screen and (min-width: 901px) and (max-width: 1100px) {

    .cnrs-dm-front-agent-wrapper-grid {
        width: calc(33.33% - 13.34px);
    }

    .cnrs-dm-front-agent-wrapper-grid:nth-child(3n+2) {
        margin-left: 10px;
        margin-right: 10px;
    }

    .cnrs-dm-front-agent-wrapper-grid:nth-child(3n+1) {
        margin-right: 10px;
    }

    .cnrs-dm-front-agent-wrapper-grid:nth-child(3n+3) {
        margin-left: 10px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {

    .cnrs-dm-front-agent-wrapper-grid {
        width: calc(50% - 10px);
    }

    .cnrs-dm-front-agent-wrapper-grid:nth-child(odd) {
        margin-right: 10px;
    }

    .cnrs-dm-front-agent-wrapper-grid:nth-child(even) {
        margin-left: 10px;
    }
}

@media only screen and (max-width: 600px) {

    .cnrs-dm-front-agent-wrapper-grid {
        width: 100%;
        margin-top: calc(11vw + 8px);
    }

    .cnrs-dm-front-entity-title-container {
        justify-content: center!important;
    }
}

.cnrs-dm-front-agent-info-data-container.mobile-version::-webkit-scrollbar {
    display: none!important;
}

.cnrs-dm-front-agent-info-data-container::-webkit-scrollbar {
    width: 16px;
    height: 16px;
}

.cnrs-dm-front-agent-info-data-container::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 100px;
}

.cnrs-dm-front-agent-info-data-container::-webkit-scrollbar-thumb {
    background-color: #6ab7e6;
    border-radius: 100px;
    background-clip: padding-box;
    border: 5px solid transparent;
    -webkit-border-radius: 100px;
    -webkit-box-shadow: inset -1px -1px 0 rgba(0, 0, 0, 0.05), inset 1px 1px 0 rgba(0, 0, 0, 0.05);
    -webkit-transition: all linear 0.2s;
}

.cnrs-dm-front-agent-info-data-container::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}

.cnrs-dm-front-agent-info-data-container::-webkit-scrollbar-corner {
    background-color: transparent;
}