/*********************************************************************************************
*                                CNRS Data Manager Emails CSS                                *
*********************************************************************************************/

body {
    background-color: #fff;
    margin: 0;
    padding: 0;
}

#cnrs-dm-email-header {
    width: 100%;
    display: block;
    background-color: #f1f1f1;
    border-radius: 10px;
}

#cnrs-dm-email-footer {
    width: 100%;
    padding: 40px 0;
    display: flex;
    background-color: #69C0B5;
    border-radius: 10px;
}

#cnrs-dm-email-pre-footer {
    width: 100%;
    padding: 20px 0;
    display: block;
    text-align: left;
    margin-top: 20px;
}

#cnrs-dm-email-pre-footer h4 {
    line-height: 1em;
    padding: 0 0 5px;
    margin: 0;
    color: #69C0B5;
}

#cnrs-dm-email-pre-footer p {
    line-height: 1.2em;
    font-size: 10px;
    padding: 0;
    margin: 0;
    opacity: 0.5;
}

#cnrs-dm-email-title {
    color: #69C0B5;
    margin: 30px 0;
}

#cnrs-dm-email-header > a {
    margin: 0 auto;
    padding: 20px 0 0;
    width: 50%;
    max-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cnrs-dm-email-header > h3,
#cnrs-dm-email-header > p {
    text-align: center;
    line-height: 1em;
}

#cnrs-dm-email-header > h3 {
    margin: 0 auto;
    padding: 20px 0 3px 0;
    width: 300px;
    max-width: 80%;
    color: #69C0B5;
}

#cnrs-dm-email-header > p {
    margin: 0 auto;
    padding: 0 0 20px;
    width: 300px;
    max-width: 80%;
    color: #6AB7E6;
    font-size: 12px;
    line-height: 14px;
}

#cnrs-dm-email-header > a > img {
    width: 100%;
}

#cnrs-dm-email-footer > div {
    margin: 0 auto;
    padding: 0;
    width: 90%;
    max-width: 550px;
    display: flex;
}

#cnrs-dm-email-footer > div > * {
    width: 30%;
    max-width: 30%;
}

#cnrs-dm-email-footer-left {
    display: block;
    width: 100%;
    text-align: left;
}

#cnrs-dm-email-footer-center {
    padding: 0 5%;
}

#cnrs-dm-email-footer-left > img {
    width: calc(80% - 10px);
    padding: 5px;
    background-color: #fff;
    border-radius: 6px;
}

#cnrs-dm-email-footer > div > div > h5,
#cnrs-dm-email-footer > div > div > p {
    color: #fff;
    width: 80%;
    text-align: left;
}

#cnrs-dm-email-footer > div > div > h5 {
    padding: 10px 0 0;
    margin: 0;
    font-size: 10px;
    line-height: 1em;
}

#cnrs-dm-email-footer > div > div > p {
    padding: 3px 0 0;
    margin: 0;
    font-size: 6px;
    line-height: 1.2em;
}

#cnrs-dm-email-code {
    padding: 10px 20px;
    background-color: #0C85BB;
    color: #fff;
    font-weight: bold;
    width: max-content;
    font-size: 20px;
    text-decoration: none;
}

#cnrs-dm-email-body-wrapper-reset-pwd > p,
#cnrs-dm-email-body-wrapper-confirmation > p,
#cnrs-dm-email-body-wrapper-revision > p ,
#cnrs-dm-email-body-wrapper-canceled > p ,
#cnrs-dm-email-body-wrapper-exceed > p {
    text-align: left;
    margin: 0;
}

#cnrs-dm-email-body-wrapper-revision #cnrs-dm-email-p2 {
    margin-bottom: 30px;
}

@media only screen and (min-width: 651px) {

    #cnrs-dm-email-footer-center > img,
    #cnrs-dm-email-footer-right > img {
        margin: auto;
        height: 116px;
        max-width: 100%;
    }

    #cnrs-dm-email-title {
        font-size: 30px;
    }
}

@media only screen and (max-width: 650px) {

    #cnrs-dm-email-footer-center > img,
    #cnrs-dm-email-footer-right > img {
        margin: auto;
        height: 80px;
        max-width: 100%;
    }
}
