/*********************************************************************************************
*                                CNRS Data Manager Agents CSS                                *
*********************************************************************************************/

/* No Agent available style */
.cnrs-dm-front-no-result {
    width: 100%;
    text-align: center;
    font-style: italic;
}